{% if results.ansible_facts.engines %}
- name: Firewall Template
  hosts: localhost
  gather_facts: no
  tasks:
  - name: Create a single layer 3 firewall
  {% if 'single_fw' in results.engine_type %}
  engine:
      type: single_fw
  {% elif 'cluster' in results.engine_type %}
  engine:
      type: cluster
  {% endif %}
    smc_logging:
        level: 10
        path: /Users/davidlepage/Downloads/ansible-smc.log
{% for engine in results.ansible_facts.engines %}
{{- engine | to_nice_yaml | indent(6, True) }}
{% endfor %}
{% endif %}
