{% if results.ansible_facts.engines %}
- name: Firewall Template
  hosts: localhost
  gather_facts: no
  tasks:
  - name: Layer 3 FW template
    engine:
      smc_logging:
          level: 10
          path: ansible-smc.log
{% for engine in results.ansible_facts.engines %}
{{- engine | to_nice_yaml | indent(6, True) }}
{% endfor %}
{% endif %}
