- name: 
  hosts: localhost
  gather_facts: no
  tasks:
  - name: Task output
    register: result
    {{ playbook }}:
      smc_logging:
        level: 10
        path: ansible-smc.log
{% for k, v in results.ansible_facts.items() %}
{% for field in v %}
{{- field | to_nice_yaml(indent=2) | indent(6, True) }}
{% endfor %}
{% endfor %}