- name: Facts about all engines within SMC
  hosts: localhost
  gather_facts: no
  tasks:
  # - name: Find all managed engines (IPS, Layer 2, L3FW)
  #   engine_facts:
  
  # - name: Find only Layer 3 FW's
  #   engine_facts:
  #     element: fw_clusters
  #     filter: newcluster
  
  # - name: Find only Layer 2 FW's
  #   engine_facts:
  #     element: layer2_clusters

  # - name: Find only IPS engines
  #   engine_facts:
  #     element: ips_clusters
  
  - name: Get engine details for 'myfw'
    register: results
    engine_facts:
      smc_logging:
       level: 10
       path: ansible-smc.log
      filter: myfw
      as_yaml: true

  - name: Write the yaml using a jinja template
    template: src=templates/engine_yaml.j2 dest=./l3fw.yml
  
    
  