- name: Firewall Template
  hosts: localhost
  gather_facts: no
  tasks:
  - name: Create a single layer 3 firewall
    engine:
      smc_logging:
        level: 10
        path: ansible-smc.log
      antivirus: false
      bgp:
          enabled: false
          router_id: null
      cluster_mode: standby
      comment: my new firewall
      default_nat: false
      domain_server_address:
      - 8.8.8.8
      file_reputation: false
      interfaces:
      -   comment: foocomment
          cvi_mode: packetdispatch
          interface_id: '7'
          interfaces:
          -   cluster_virtual: 120.120.120.1
              network_value: 120.120.120.0/24
              nodes:
              -   address: 120.120.120.3
                  network_value: 120.120.120.0/24
                  nodeid: 2
              -   address: 120.120.120.2
                  network_value: 120.120.120.0/24
                  nodeid: 1
              -   address: 12.12.12.13
                  network_value: 12.12.12.0/24
                  nodeid: 2
              -   address: 12.12.12.12
                  network_value: 12.12.12.0/24
                  nodeid: 1
          macaddress: 02:02:06:04:04:02
          zone_ref: myzone
      -   interface_id: '6'
          interfaces:
          -   comment: delete by api
              vlan_id: '6'
      -   comment: no interfaces
          cvi_mode: packetdispatch
          interface_id: '5'
          interfaces:
          -   cluster_virtual: 50.50.50.1
              network_value: 50.50.50.0/24
          macaddress: 06:06:06:06:06:06
      -   cvi_mode: packetdispatch
          interface_id: '68'
          interfaces:
          -   cluster_virtual: 23.23.23.231
              network_value: 23.23.23.0/24
              nodes:
              -   address: 23.23.23.24
                  network_value: 23.23.23.0/24
                  nodeid: 2
              -   address: 23.23.23.23
                  network_value: 23.23.23.0/24
                  nodeid: 1
          macaddress: 02:02:02:04:06:08
          zone_ref: foozone
      -   cvi_mode: packetdispatch
          interface_id: '4'
          interfaces:
          -   cluster_virtual: 140.140.140.254
              comment: add vlan after initial creation
              network_value: 140.140.140.0/24
              nodes:
              -   address: 140.140.140.1
                  network_value: 140.140.140.0/24
                  nodeid: 1
              -   address: 140.140.140.2
                  network_value: 140.140.140.0/24
                  nodeid: 2
              vlan_id: '14'
              zone_ref: management
          macaddress: 02:02:02:04:04:04
      -   comment: mycomment
          cvi_mode: packetdispatch
          interface_id: '67'
          interfaces:
          -   cluster_virtual: 77.77.77.77
              network_value: 77.77.77.0/24
              nodes:
              -   address: 77.77.77.2
                  network_value: 77.77.77.0/24
                  nodeid: 2
              -   address: 77.77.77.1
                  network_value: 77.77.77.0/24
                  nodeid: 1
          macaddress: 04:04:06:06:04:02
          zone_ref: foozone
      -   comment: mycomment
          interface_id: '2'
          interfaces:
          -   comment: mycomment
              nodes:
              -   address: 4.4.4.80
                  network_value: 4.4.4.0/24
                  nodeid: 2
              -   address: 4.4.4.7
                  network_value: 4.4.4.0/24
                  nodeid: 1
              -   address: 4.4.4.8
                  network_value: 4.4.4.0/24
                  nodeid: 2
              -   address: 4.4.4.70
                  network_value: 4.4.4.0/24
                  nodeid: 1
              vlan_id: '4'
              zone_ref: myzone
          -   nodes:
              -   address: 45.45.45.70
                  network_value: 45.45.45.0/24
                  nodeid: 1
              -   address: 45.45.45.80
                  network_value: 45.45.45.0/24
                  nodeid: 2
              vlan_id: '5'
          zone_ref: myzone
      -   interface_id: '31'
          interfaces:
          -   nodes:
              -   address: 32.32.32.1
                  network_value: 32.32.32.0/24
                  nodeid: 1
              -   address: 32.32.32.2
                  network_value: 32.32.32.0/24
                  nodeid: 2
      -   cvi_mode: packetdispatch
          interface_id: '30'
          interfaces:
          -   cluster_virtual: 30.30.30.30
              network_value: 30.30.30.0/24
              vlan_id: '30'
          macaddress: 02:02:06:02:02:06
      -   cvi_mode: packetdispatch
          interface_id: '24'
          interfaces:
          -   cluster_virtual: 100.100.100.100
              network_value: 100.100.100.0/24
              nodes:
              -   address: 100.100.100.1
                  network_value: 100.100.100.0/24
                  nodeid: 1
              -   address: 100.100.100.2
                  network_value: 100.100.100.0/24
                  nodeid: 2
              vlan_id: '24'
          macaddress: 02:02:08:02:02:06
      -   comment: foocomment
          cvi_mode: packetdispatch
          interface_id: '88'
          interfaces:
          -   cluster_virtual: 89.89.89.88
              network_value: 89.89.89.0/24
              nodes:
              -   address: 88.88.88.2
                  network_value: 88.88.88.0/24
                  nodeid: 2
              -   address: 89.89.89.2
                  network_value: 89.89.89.0/24
                  nodeid: 2
              -   address: 89.89.89.1
                  network_value: 89.89.89.0/24
                  nodeid: 1
              -   address: 88.88.88.1
                  network_value: 88.88.88.0/24
                  nodeid: 1
          macaddress: 08:08:08:08:08:08
          zone_ref: foobar
      -   cvi_mode: packetdispatch
          interface_id: '21'
          interfaces:
          -   cluster_virtual: 22.22.22.254
              network_value: 22.22.22.0/24
              nodes:
              -   address: 22.22.22.2
                  network_value: 22.22.22.0/24
                  nodeid: 2
              -   address: 22.22.22.1
                  network_value: 22.22.22.0/24
                  nodeid: 1
              vlan_id: '21'
          -   cluster_virtual: 21.21.21.254
              network_value: 21.21.21.0/24
              nodes:
              -   address: 21.21.21.1
                  network_value: 21.21.21.0/24
                  nodeid: 1
              -   address: 21.21.21.2
                  network_value: 21.21.21.0/24
                  nodeid: 2
              vlan_id: '20'
          macaddress: 02:02:02:03:02:04
      -   interface_id: '2000'
          interfaces:
          -   nodes:
              -   address: 102.102.102.100
                  network_value: 102.102.102.0/24
                  nodeid: 1
              -   address: 102.102.102.200
                  network_value: 102.102.102.0/24
                  nodeid: 2
          type: tunnel_interface
      -   comment: CVI with NDI-tunnel
          interface_id: '1005'
          interfaces:
          -   cluster_virtual: 52.52.52.1
              network_value: 52.52.52.1/32
              nodes:
              -   address: 51.51.51.3
                  network_value: 51.51.51.0/24
                  nodeid: 2
              -   address: 51.51.51.2
                  network_value: 51.51.51.0/24
                  nodeid: 1
          type: tunnel_interface
          zone_ref: foozone
      -   comment: My Tunnel on cluster
          interface_id: '1001'
          interfaces:
          -   cluster_virtual: 78.78.78.70
              network_value: 78.78.78.0/24
              nodes:
              -   address: 78.78.78.1
                  network_value: 78.78.78.0/24
                  nodeid: 1
              -   address: 78.78.78.2
                  network_value: 78.78.78.0/24
                  nodeid: 2
          type: tunnel_interface
          zone_ref: foozone
      -   interface_id: '20'
          interfaces:
          -   nodes:
              -   address: 20.20.20.2
                  network_value: 20.20.20.0/24
                  nodeid: 2
              -   address: 20.20.20.1
                  network_value: 20.20.20.0/24
                  nodeid: 1
              vlan_id: '20'
          -   nodes:
              -   address: 211.211.211.2
                  network_value: 211.211.211.0/24
                  nodeid: 2
              -   address: 211.211.211.1
                  network_value: 211.211.211.0/24
                  nodeid: 1
              vlan_id: '21'
      -   interface_id: '2001'
          interfaces:
          -   nodes:
              -   address: 103.103.103.1
                  network_value: 103.103.103.0/24
                  nodeid: 1
              -   address: 103.103.103.2
                  network_value: 103.103.103.0/24
                  nodeid: 2
          type: tunnel_interface
      name: newcluster
      policy_vpn:
      -   central_node: true
          mobile_gateway: true
          name: ttesst
          satellite_node: false
      primary_heartbeat: '4.14'
      primary_mgt: '68'
      tags:
      - footag2
      - footag
      type: fw_cluster
